IMPORT PACKAGES THAT WE MIGHT USE

In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from IPython.core.display import HTML
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.metrics import r2_score

LOADING DATA

In [2]:

train=pd.read_csv('df-train_set.csv')
test=pd.read_csv('df-test_set.csv')
test_id=test['Index']
test=test.drop('Index',axis=1)
train.head()

,Province,Container,Size_Grade,Weight_Kg,Commodities,Date,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand,avg_price_per_kg
0,CAPE,EC120,1L,12.0,APPLE GRANNY SMITH,2020-03-10,108.0,112.0,3236.0,29,348.0,0,9.30
1,CAPE,M4183,1L,18.3,APPLE GOLDEN DELICIOUS,2020-09-09,150.0,170.0,51710.0,332,6075.6,822,8.51
2,GAUTENG,AT200,1L,20.0,AVOCADO PINKERTON,2020-05-05,70.0,80.0,4860.0,66,1320.0,50,3.68
3,TRANSVAAL,BJ090,1L,9.0,TOMATOES-LONG LIFE,2020-01-20,60.0,60.0,600.0,10,90.0,0,6.67
4,WESTERN FREESTATE,PP100,1R,10.0,POTATO SIFRA (WASHED),2020-07-14,40.0,45.0,41530.0,927,9270.0,393,4.48

In [3]:
train=train[train['Commodities']=='APPLE GOLDEN DELICIOUS']
train=train.drop('Commodities',axis=1)
train=train.drop('Date',axis=1)
test=test.drop('Commodities',axis=1)
test=test.drop('Date',axis=1)
train=pd.get_dummies(train,drop_first=True)
test=pd.get_dummies(test,drop_first=True)

In [4]:
train=pd.get_dummies(train,drop_first=True)
test=pd.get_dummies(test,drop_first=True)

In [5]:
x=train.drop('avg_price_per_kg',axis=1)
y=train['avg_price_per_kg']

In [6]:
test

,Weight_Kg,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand,Province_EASTERN CAPE,Province_NATAL,Province_ORANGE FREE STATE,...,Container_M9125,Size_Grade_1M,Size_Grade_1S,Size_Grade_1U,Size_Grade_1X,Size_Grade_2L,Size_Grade_2M,Size_Grade_2S,Size_Grade_2U,Size_Grade_2X
0,12.0,128.0,136.0,5008.0,38,456.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,18.3,220.0,220.0,1760.0,8,146.4,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,12.0,120.0,120.0,720.0,6,72.0,45,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,18.3,160.0,160.0,160.0,1,18.3,8,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,18.3,140.0,160.0,14140.0,100,1830.0,19,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,9.0,30.0,30.0,1320.0,44,396.0,856,0,0,0,...,0,0,0,0,0,0,0,1,0,0
681,12.0,50.0,132.0,6290.0,52,624.0,785,0,0,0,...,0,1,0,0,0,0,0,0,0,0
682,9.0,55.0,55.0,220.0,4,36.0,170,0,0,0,...,0,0,0,0,0,0,0,0,0,1
683,18.3,120.0,150.0,27840.0,202,3696.6,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
684,18.3,120.0,160.0,71010.0,491,8985.3,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [7]:
#x=train.drop('avg_price_per_kg_9.96',axis=1)
#y=train['avg_price_per_kg_9.96']

In [8]:
# Split train dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(x, 
                                                    y, 
                                                    test_size=0.20,
                                                    random_state=1,
                                                    shuffle=False)

In [9]:
decision_tree = DecisionTreeRegressor()
decision_tree.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [10]:
train_DcT = decision_tree.predict(X_train)
test_DcT = decision_tree.predict(X_test)

In [11]:
results_dict = {'Training MSE':{"Decision Tree": metrics.mean_squared_error(y_train, train_DcT)},
                'Test MSE':{"Decision Tree": metrics.mean_squared_error(y_test, test_DcT)},
                'Training R^2':{"Decision Tree": metrics.r2_score(y_train, train_DcT)},
                'Test R^2':{"Decision Tree": metrics.r2_score(y_test, test_DcT)}
                }
results=pd.DataFrame(results_dict)

In [12]:
results

               Training MSE  Test MSE  Training R^2  Test R^2
Decision Tree  1.315189e-30   0.39233           1.0  0.926541

In [15]:
submission = pd.DataFrame(
    {'Index': test_id,
     'avg_price_per_kg':decision_tree.predict(test)
    })

In [16]:
submission

     Index  avg_price_per_kg
0        1             10.67
1        2             11.25
2        3             10.00
3        4              8.74
4        5              8.19
..     ...               ...
680    681              3.33
681    682              6.26
682    683              6.11
683    684              7.25
684    685              7.20

[685 rows x 2 columns]

In [17]:
submission.to_csv('Decision_tree.csv',index =False)