In [74]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [75]:
#Model
from sklearn.linear_model import LinearRegression 
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [76]:
#metrics, processing and model selection
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score

In [77]:
#Loading data
train=pd.read_csv('df-train_set.csv')
test=pd.read_csv('df-test_set.csv')
test_id=test['Index']
test=test.drop('Index', axis=1)

In [78]:
df.shape()

NameError: name 'df' is not defined

In [79]:
train.head()

,Province,Container,Size_Grade,Weight_Kg,Commodities,Date,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand,avg_price_per_kg
0,CAPE,EC120,1L,12.0,APPLE GRANNY SMITH,2020-03-10,108.0,112.0,3236.0,29,348.0,0,9.30
1,CAPE,M4183,1L,18.3,APPLE GOLDEN DELICIOUS,2020-09-09,150.0,170.0,51710.0,332,6075.6,822,8.51
2,GAUTENG,AT200,1L,20.0,AVOCADO PINKERTON,2020-05-05,70.0,80.0,4860.0,66,1320.0,50,3.68
3,TRANSVAAL,BJ090,1L,9.0,TOMATOES-LONG LIFE,2020-01-20,60.0,60.0,600.0,10,90.0,0,6.67
4,WESTERN FREESTATE,PP100,1R,10.0,POTATO SIFRA (WASHED),2020-07-14,40.0,45.0,41530.0,927,9270.0,393,4.48

In [80]:
#Filtering only for GOLDEN APPLE DELICIOUS
train=train[train["Commodities"]=='APPLE GOLDEN DELICIOUS']

In [81]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province        685 non-null    object
 1   Container       685 non-null    object
 2   Size_Grade      685 non-null    object
 3   Weight_Kg       685 non-null    float64
 4   Commodities     685 non-null    object
 5   Date            685 non-null    object
 6   Low_Price       685 non-null    float64
 7   High_Price      685 non-null    float64
 8   Sales_Total     685 non-null    float64
 9   Total_Qty_Sold  685 non-null    int64
 10  Total_Kg_Sold   685 non-null    float64
 11  Stock_On_Hand   685 non-null    int64
dtypes: float64(5), int64(2), object(5)
memory usage: 64.3+ KB

In [82]:
#Removing categorical columns
for x in test:
    if np.issubdtype(test[x], np.number)==False:
        test=test.drop(x,axis=1)
    
for y in train:
     if np.issubdtype(train[y].dtype, np.number)==False:
        train=train.drop(y, axis=1)

In [83]:
train.describe()

,Weight_Kg,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand,avg_price_per_kg
count,1952.000000,1952.000000,1952.000000,1952.000000,1952.000000,1952.000000,1952.000000,1952.000000
mean,40.460912,174.307377,215.648053,20053.533811,174.510758,2960.176332,408.393955,6.778893
std,99.655169,373.553578,433.546159,39005.069445,308.810797,6097.416527,724.450582,2.248744
min,3.000000,2.000000,5.000000,5.000000,1.000000,3.000000,0.000000,0.250000
25%,9.000000,50.000000,60.000000,1325.000000,12.000000,219.600000,9.000000,5.460000
50%,12.000000,80.000000,108.000000,5495.000000,64.000000,853.500000,126.500000,6.670000
75%,18.300000,127.250000,160.000000,21082.500000,200.000000,3093.525000,468.000000,8.280000
max,400.000000,2300.000000,3300.000000,369464.000000,4237.000000,74000.000000,6400.000000,21.240000

In [84]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Weight_Kg       685 non-null    float64
 1   Low_Price       685 non-null    float64
 2   High_Price      685 non-null    float64
 3   Sales_Total     685 non-null    float64
 4   Total_Qty_Sold  685 non-null    int64
 5   Total_Kg_Sold   685 non-null    float64
 6   Stock_On_Hand   685 non-null    int64
dtypes: float64(5), int64(2)
memory usage: 37.6 KB

In [85]:
#Spliting train into x and y
x=train.drop('avg_price_per_kg', axis=1)
y=train['avg_price_per_kg']

In [86]:
x.head()

,Weight_Kg,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand
1,18.3,150.0,170.0,51710.0,332,6075.6,822
7,11.0,50.0,50.0,16000.0,320,3520.0,0
24,9.0,55.0,55.0,990.0,18,162.0,1506
40,18.3,80.0,120.0,32020.0,388,7100.4,443
69,400.0,1800.0,1800.0,1800.0,1,400.0,2

In [87]:
#Create and save Standardization
scaler= StandardScaler()
X_scaled = scaler.fit_transform(x)

In [88]:
#Split dataset into train and test sets
X_train, X_test, y_train, y_test= train_test_split(X_scaled, y,test_size=0.20, random_state=1, shuffle=False)

In [89]:
#Creating Lasso model object setting aplha to 0.01
lasso= Lasso(alpha=0.01)
lasso.fit(X_train, y_train)

Lasso(alpha=0.01)

In [90]:
#Extract coefficient from model
coeff=pd.DataFrame(lasso.coef_, x.columns, columns=['Coefficient'])

In [91]:
coeff

                Coefficient
Weight_Kg         -1.924203
Low_Price          0.397503
High_Price         0.969695
Sales_Total        3.927976
Total_Qty_Sold    -0.966472
Total_Kg_Sold     -3.017910
Stock_On_Hand      0.033579

In [92]:
#Define the model
cv=RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

In [93]:
#Evaluate the lasso regression model on the dataset
from numpy import mean
from numpy import std
from numpy import absolute

In [101]:
#Evaluate model
model_lasso=Lasso()
scores= cross_val_score(model_lasso, x, y, scoring ='neg_mean_absolute_error', cv=cv, n_jobs=-1)

In [102]:
#force scores to be positive
scores=absolute(scores)
print('Mean MAE: %.3f (%.3f)' % (mean(scores), std(scores)))

Mean MAE: 1.329 (0.067)

In [113]:
model_lasso.fit(x,y)

Lasso()

In [119]:
#Make a prediction
def rmse(y_test, y_pred):
    return np.sqrt(mean_squared_error(y_pred,y_test))

def r_squared(y_test,y_pred):
    return r2_score(y_test,y_pred)
#fit and evaluate
def fit_and_evaluate(model,x,y):
        X_train, X_test. y_train= train_test_split(X,y, test_size=0.2, random_state=42)
        
     #train
model.fit(X_train, y_train)
    #Make predictions
pred_train_lasso=model_lasso.predict(X_train)
pred_test_lasso=model_lasso.predict(X_test)

    
train_rmse= rmse(y_train, train_pred)
test_rmse= rmse.predict(X_test)
    
train_r2=r_squared(y_train, train_pred)
test_r2= r_squared(y_test, test_pred)
df= {'Train RMSE': train_rmse, 'Train R^2': train_r2, 'Test RMSE': test_rmse, 'Test R^2': test_r2}
return df

AttributeError: 'function' object has no attribute 'predict'

In [1]:
#Define grid
from numpy import arange
grid=dict()
grid['alpha']=arange(0,1, 0.01)

In [39]:
#Define search
search=GridSearchCV(model, grid, scoring='neg_mean_absolute_error',cv=cv, n_jobs=-1)

In [41]:
#perform the search
results= search.fit(x,y)

In [43]:
#Summarize
print('MAE: %.3f' % results.best_score_)
print('Config: %s' % results.best_params_)

MAE: -1.329
Config: {'alpha': 0.99}